tests/
*__pycache__*
*/.ipynb_checkpoints/*
*.py[cod]
.vscode/
outputs/
rationales/
results/
*.ipynb
reasoning-teacher/
logs/
wandb/
*train_r*.json
request*.jsonl
*sbic_train.jsonl
*sbic_train*.jsonl
*sbic_train_add.jsonl
results_json/
data/implicit-hate
data/sbic
data/cross_eval
*.tar.gz